# Django Core Settings
SECRET_KEY=replace-with-a-secure-random-secret-key-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,::1

# Google reCAPTCHA v2 configuration
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

# Google Gmail SMTP Settings (For Two-Factor Authentication OTP delivery)
# If empty, Django falls back to local filebased email logs in sent_emails/
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# NetWatch Integration Settings
NETWATCH_API_URL=http://127.0.0.1:8000/api/ingest/
NETWATCH_EVENTS_API_URL=http://127.0.0.1:8000/api/events/
NETWATCH_API_KEY=nw-capstone-2026-secret-key
