# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/
pyrightconfig.json

# Local environments and configuration secrets
.env
.venv/
env/
venv/
ENV/
sent_emails/

# Django database & media
db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
staticfiles/
media/

# Logs
*.log
